#root {
  width: 100%;
  height: inherit;
}

#main {
  height: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.screen {
  width: 100%;
  height: inherit;
}

/* =========== Drawer =========== */
#drawer {
  width: 18%;
  height: inherit;
  max-width: 350px;
  flex-shrink: 0;
  color: var(--white);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background-color: var(--primary-dark);
  -webkit-box-shadow: 5px 5px 22px -15px var(--shadow);
  -moz-box-shadow: 5px 5px 22px -15px var(--shadow);
  box-shadow: 5px 5px 22px -15px var(--shadow);
}

a.drawer-link,
button.drawer-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  letter-spacing: 1.6px;
  font-weight: 700;
  font-size: var(--font-s);
  color: inherit;
  transition: all 150ms ease-out;
}

a.drawer-link:hover,
button.drawer-btn:hover {
  background-color: var(--primary);
}

a.drawer-link.active {
  background-color: var(--primary);
  pointer-events: none;
}

button.drawer-btn {
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  width: calc(100% - 2rem);
  outline: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

/* =========== BUTTON =========== */
button.btn-icon {
  display: flex;
  align-items: center;
  gap: var(--s);
}

button.action, button.btn-icon {
  color: var(--primary-dark);
  background-color: var(--action);
}

button.action:hover, button.btn-icon:hover {
  background-color: var(--white);
  border-color: var(--action);
}

/* =========== button - TRANSPARENT =========== */
button.action.transparent, button.btn-icon.transparent {
  color: var(--primary-dark);
  background: transparent;
}

button.action.transparent:hover, button.btn-icon.transparent:hover {
  color: var(--white);
  background-color: var(--primary);
  border-color: transparent;
}

button.action.transparent:hover svg, button.btn-icon.transparent:hover svg {
  fill: var(--white);
}

/* =========== button - DANGER =========== */
button.action.danger, button.btn-icon.danger {
  color: var(--white);
  background-color: var(--danger);
}

button.action.danger:hover, button.btn-icon.danger:hover {
  color: var(--danger);
  border-color: var(--danger);
  background: transparent;
}

button.action.danger:hover svg, button.btn-icon.danger:hover svg {
  fill: var(--danger);
}


/* =========== Drawer =========== */
