.listScreenWrapper {
    height: inherit;
    overflow-y: scroll;
}

.tableList {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.firstCol {
    width: var(--lg);
    min-width: var(--lg);
}

th {
    text-transform: uppercase;
    background-color: var(--primary-dark);
    color: var(--white);
}

th,
td {
    padding: var(--m);
}

td {
    border-bottom: 1px solid var(--gray);
}

tr {
    cursor: pointer;
}

tr:hover {
    background-color: var(--gray-tone);
}

@media (min-width: 756px) {
    .listScreenWrapper {
        max-height: 100vh;
    }
}

@media (max-width: 756px) {
    .listScreenWrapper {
        max-height: calc(100svh - 88px);
    }
    .tableList {
        margin-bottom: var(--3xl)
    }
  }