input.textInput {
    width: 100%;
    height: 36px;
    outline: none;
    border: none;
    font-size: var(--font-m);
    border-bottom: 2px solid var(--gray);
    appearance: none;
    background-color: var(--white);
    color: var(--dark);
    padding-top: var(--s);
}

.focusIndicator {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--primary-light);
    transition: width 150ms ease-in-out;
}

input.textInput:focus + .inputLabel,
input.textInput:not([value=""]) + .inputLabel {
    top: 0;
    font-size: var(--font-s);
}

input.textInput:focus + .inputLabel {
    color: var(--primary-light);
}

input.textInput:focus ~ .focusIndicator {
    width: 100%;
}

.inputLabel {
    top: 50%;
    left: 0;
    transition: all 150ms ease-out;
}

.inputError {
    height: 1rem;
    font-size: .75rem;
    font-weight: 500;
    color: rgb(239 68 68);
}
