

.smallLogoWrapper {
    width: 116px;
    margin: 0 auto var(--m) auto;
    padding: var(--lg);
}

.logoWeapper img, .smallLogoWrapper img {
    width: 100%;
    height: auto;
}

@media (min-width: 576px) {
    .logoWeapper {
        width: 256px;
    }
}
@media (max-width: 576px) {
    .logoWeapper {
        width: 156px;
        margin: 0 auto;
    }
}