.logoWeapper img, .smallLogoWrapper img {
    width: 100%;
    height: auto;
}

@media (min-width: 576px) {
    .logoWeapper {
        width: 256px;
    }
}
@media (max-width: 576px) {
    .logoWeapper {
        width: 156px;
        margin: 0 auto;
    }
}

@media (min-width: 756px) {
    .smallLogoWrapper {
        width: 116px;
        margin: 0 auto var(--m) auto;
        padding: var(--lg);
    }
}
@media (max-width: 756px) {
    .smallLogoWrapper {
        width: var(--3xl);
        margin: 0 0 var(--lg) 0;
        padding: var(--s);
    }
}