.header {
    text-transform: capitalize;
}

.formHeader {
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 32px !important;
}

@media (max-width: 756px) {
    .header, .formHeader {
        display: none;
    }
}
@media (min-width: 756px) {
    .header {
        padding: 1.5rem;
        border-bottom: 1px solid var(--primary-dark);
    }

    .formHeader {
        padding: 1.5rem;
        color: #fff;
        text-align: center;
    }
}