#searchbar {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.searchInputWrapper {
    position: relative;
    flex-grow: 1;
}

.searchInput {
    height: 32px;
    width: 100%;
    appearance: none;
    background-color: transparent;
    color: #000;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    font-size: 1rem;
}

.focusIndicator {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: rgba(111, 188, 103, .8);
    -webkit-box-shadow: 5px 5px 22px -15px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 5px 5px 22px -15px rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 22px -15px rgba(0, 0, 0, 0.8);
    transition: width 300ms ease-in-out;
    z-index: 1;
}

.searchInput:focus + .focusIndicator {
    width: 100%;
}

.searchbarBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    background-color: #71bc68;
    transition: all 300ms;
}

.searchbarBtn:hover {
    background-color: transparent;
    border-color: #71bc68;
    color: #000;
}

.searchbarBtn:hover svg {
    fill: #000;
}