#authScreen {
    position: relative;
    height: inherit;
    display: flex;
}

.registerContainer, .loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
}

.registerContainer {
    background-color: aqua;
}

.loginContainer {
    background-color: blueviolet;
}

.authForm {
    min-height: 280px;
    min-width: 320px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

