.content {
    padding: 1rem;
}

.card {
    padding: 1rem;
    color: #fff;
    border-radius: .5rem;
    background-color: #535bf2;
    margin-bottom: 1rem;
}

.pTitle {
    font-weight: 700;
}

.pillWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.pillTag {
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .5rem;
    color: #fff;
    border-radius: .5rem;
    background-color: #535bf2;
}

.instructionList {
    padding-left: 2rem;
}