* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100svh;
  overflow: hidden;
  background-color: rgb(138, 105, 189);
}

#root {
  width: 100%;
  height: inherit;
  background-color: #ffffff;
  color: #213547;
}

#main {
  height: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* =========== Drawer =========== */
#drawer {
  position: relative;
  width: 20%;
  height: inherit;
  max-width: 350px;
  background-color: rgba(255, 255, 255, .4);
  border-right: 3px solid #71bc68;
}

a.drawer-link {
  color: inherit;
}

a.drawer-link, button.drawer-btn {
  /* flex-row justify-start align-center gap-05 p-1 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  padding: 1rem;
  transition: all 150ms ease-out;
}
a.drawer-link:hover, button.drawer-btn:hover {
  background-color: rgba(111, 188, 103, .8);
  color: #fff;
}
a.drawer-link:hover svg, a.drawer-link.active svg, button.drawer-btn:hover svg {
  fill: #fff;
}
a.drawer-link.active {
  background-color: #71bc68;
  color: #fff;
  pointer-events: none;
}

button.drawer-btn {
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  width: calc(100% - 2rem);
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}