.content {
    padding: 1rem;
}

.card {
    padding: 1rem;
    color: #fff;
    border-radius: .5rem;
    background-color: #535bf2;
    margin-bottom: 1rem;
}

.pTitle {
    font-weight: 700;
}

.pillWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.pillTag {
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .5rem;
    color: #fff;
    border-radius: .5rem;
    background-color: #535bf2;
}

.instructionList {
    padding-left: 2rem;
}

.actionBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btnTransparent {
    border: 2px solid transparent;
    color: #1c1c1e;
    background-color: transparent;
    transition: all 150ms ease-in-out;
}

.btnTransparent:hover {
    border-color: #535bf2;
    color: #535bf2;
}

.btnDanger {
    border: 2px solid rgb(175, 79, 79);
    color: #fff;
    background-color: rgb(175, 79, 79);
    transition: background-color 150ms ease-in-out;
}

.btnDanger:hover {
    background-color: rgb(133, 4, 4);
}